html{
    height: 100vh;
    width: 100vw;
}
body{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
}
#newImg{
    position: relative;
    height: 75%;
    top: 10vh;
}

#glyph{
    display: none;
}

.Panel{
    border-style:none ;
    margin: 1vw;
    height: 90vh;
}
#LPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgb(178, 178, 178);
}
#LPanel form{
    text-align: center;
}
#CPanel{
    display: flex;
    justify-content: center;
    flex: 2;
    background-color: rgb(255, 255, 255);
}
#RPanel{
    flex: 1;
    background-color: rgb(9, 90, 196);
}

